/* Todas las varibles de la web */
:root {
  --white-color: #fff;
  --light-color: #e0ded4;
  --gold-color: #c9ab81;
  --beige-color: #f7f8f1;
  --dark-color: #121417;
  --extra-dark-color: #0c0e10;
}
